env:
  browser: true
  es6: true
extends: eslint:recommended
parserOptions:
  sourceType: module
globals:
  WebAssembly: true
  require: true
rules:
  no-console: 0
settings:
  react: 
    version: "16.0"
