.DS_Store
/.vscode/*.log
node_modules/
public/waforth/
public/thurtle/
src/waforth.bulkmem.wat
src/waforth.vanilla.wat
src/web/benchmarks/sieve/sieve-c.js
build/
dist/
*.wasm
*.wasm.hex
*.tmp
*.bin
*.assembled.wat
*.o
