.root {
  height: 100vh;
}

.main {
  height: calc(100% - 40px);
}

.editor {
  flex: 1;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.world {
  border: thin solid rgb(171, 208, 166);
  border-radius: 0.5em;
  background-color: rgb(221, 248, 221);
  width: 100%;
  max-height: 350px;
}

.world path {
  stroke: black;
  fill: white;
  fill-opacity: 0;
}

.output {
  font-size: 0.8em;
  overflow: auto;
  max-height: calc(
    100vh - 450px
  ); /* hack because i can't figure out how to auto scale this */
}

label {
  font-weight: 500;
}

.left-pane {
  flex: 1;
}

.right-pane {
  flex: 2;
}
